/* src/assets/tokyo-night.css */
:root.coal,
.coal,
html.coal,
body.coal {
  --bg: #1a1b26;
  --bg-alt: #24283b;
  --fg: #c0caf5;
  --fg-light: #a9b1d6;
  --code-bg: #292e42;
  --wave-1: #1a1b26;
  --wave-2: #24283b;
  --wave-3: #292e42;
  --accent: #7aa2f7;
  --red: #f7768e;
  --blue: #7dcfff;
  --sidebar-bg: #1a1b26;
  --sidebar-fg: #c0caf5;
  --sidebar-non-existant: #565f89;
  --sidebar-active: #7aa2f7;
  --sidebar-spacer: #24283b;
  --links: #7dcfff;
  --heading: #7aa2f7;
  --bold: #ff9e64;
  --quote-bg: #24283b;
  --quote-border: #292e42;
  --table-header-bg: #292e42;
  --table-alternate-bg: #24283b;
}
